@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --corbotao: #004A8D;
    --corbotaohover: #208fc6;
    --bordabotao: #000f5a;
    --bordabotaohover: #3042b1;

    --corinput: #efefef;
    --bordainput: #7c7c7c;

    --papeldeparede: ;

    --fundo: white;
    --bordafundo: var(--bordainput);
    --fundoheader: var(--fundo);
    --bordaheader: var(--bordainput);
}

*{
    margin: 0;
    outline: 0px solid red;
    font-family: 'IBM Plex Sans';
}

input, select{
    padding:2%;
    border: 1px solid var(--bordafundo);
    border-radius: 10px;
    background: var(--fundo);
    font-size: 12pt;
    font-weight: regular;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.headeresq{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 12px;
    margin-left: 3%;
}

.headerdir{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: end;
    margin-right: 3%;
}

.headerdirtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    margin-right: 2.5%;
    text-align: end;
}

.headerdirimg{
    display: flex;
    align-items: center;
    img{border-radius: 7px;
    border: 1px solid #202020;
background-color: var(--corinput);
padding: 16%;
cursor: pointer;}
transition: all 0.1s ease-in;
}

.headerdirimg:hover{
    img{
    background-color: var(--fundo);}
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background: var(--corinput);
    border-radius: 10px;
    border: 1px solid var(--bordainput);
    width: 45%;
    text-align: center;
    margin-top: 3%;
}

.areacadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    margin-bottom: 2%;
}

.formularioheader{
    font-weight: bold;
    margin-bottom: 2%;
}

.formulariotextosenha{
    font-size: 12px;
}

.botaocadastrar{
    background: var(--corbotao);
    width: 100%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.botaocadastrar:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}