@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --corbotao: #004A8D;
    --corbotaohover: #208fc6;
    --bordabotao: #000f5a;
    --bordabotaohover: #3042b1;

    --corinput: #ffffff;
    --bordainput: #7c7c7c;

    --papeldeparede: ;

    --fundo: #efefef;
    --bordafundo: var(--bordainput);
    --fundoheader: var(--fundo);
    --bordaheader: var(--bordainput);
}

*{
    margin: 0;
    outline: 0px solid red;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
}

input{
    padding:2%;
    border: 1px solid var(--bordainput);
    border-radius: 10px;
    background: var(--corinput);
    font-size: 15pt;
    font-weight: 500;
}

.addchave{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 45%;
    border-radius: 10px;
    border: 1px solid var(--bordafundo);
    background: var(--fundo);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addchaveform{
    display: flex;
    flex-direction: column;
}

.addchaveformtitulo{
    text-align: center;
    padding: 2%;
    font-size: 16pt;
}

.addchaveforminputs{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    height: 40vh;
    justify-content: space-between;
    margin-bottom: 4%;
}

.addchaveformbotaoarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addchaveformbotao{
    background: var(--corbotao);
    width: 50%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
}

.addchaveformbotao:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
    transform: scale(1.05);
}

.addchaveformobj{
    display: flex;
    flex-direction: column;
    padding: 1%;
}