@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --corbotao: #0052A1;
    --corbotaohover: #43a0de;
    --bordabotao: #000f5a;
    --bordabotaohover: #3042b1;
    --corbotao2: var(--corstatusdisp);
    --bordabotao2: var(--bordastatusindisp);
    --corbotao2hover: #54e68c;
    --bordabotao2hover: #09ae61;
    --corbotao3: #F7941D;
    --bordabotao3: #d05e07;
    --corbotao3hover: #f9bd45;
    --bordabotao3hover: #d88407;

    --corinput: #efefef;
    --bordainput: #7c7c7c;

    --papeldeparede: ;

    --fundo: white;
    --bordafundo: var(--bordainput);
    --fundoheader: var(--fundo);
    --bordaheader: var(--bordainput);

    --corbotaoedit: var(--corbotao);
    --bordabotaoedit: var(--bordabotao);
    --corbotaohoveredit: var(--corbotaohover);
    --bordabotaohoveredit: var(--bordabotaohover);

    --corbotaoapagar: #e52b3b;
    --bordabotaoapagar: #960909;
    --corbotaohoverapagar: #fd6565;
    --bordabotaohoverapagar: #b31827;

    --corstatus1: var(--corbotaohover);
    --bordastatus1: var(--bordabotaohover);
    --corstatus2: var(--corbotao2hover);
    --bordastatus2: var(--bordabotao2hover);
    --corstatus3: var(--corbotao3hover);
    --bordastatus3: var(--bordabotao3hover);
    --corstatus4: var(--corbotaohoverapagar);
    --bordastatus4: var(--bordabotaohoverapagar);

    --corstatus4hover: #ff9090;
    --bordastatus4hover: #ce2e2e;

    --corstatusdisp: #15c35b;
    --bordastatusdisp: #006c38;
    --corstatusindisp: var(--corbotaoapagar);
    --bordastatusindisp: var(--bordabotaoapagar);
}

*{
    margin: 0;
    outline: 0px solid red;
    font-family: 'Sanchez';
}

body{
    background: var(--fundo);
}

input{
    padding:2%;
    border: 1px solid var(--bordafundo);
    border-radius: 10px;
    background: var(--fundo);
    font-size: 12pt;
    font-weight: regular;
}

select{
    padding:2%;
    border: 1px solid var(--bordafundo);
    border-radius: 10px;
    background: var(--fundo);
    font-size: 12pt;
    font-weight: bold;
    color: #000000b4;
}

h1, h2, h3, h4, h5, h6{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 3%;
    padding-block: 1%;
    border-bottom: 2px solid var(--corbotao);
    background-color: var(--fundo);
}

.headeresq{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    width: 50%;
}

.headeresqtexto{
    font-size: 20px;
    font-weight: bold;
}

.headeresqimg{
    width: 8%;
    height: auto;
}

.headerdir{
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.headerdirtexto{
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    font-size: 14px;
}

.headerdirtextonome{
    font-weight: 300;
}

.botaoconfiguracoes{
    display: flex;
    align-items: center;
    padding: 1%;
    width: 4%;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--corbotao);
    border: 1px solid var(--bordabotao);
    transition: all 0.1s ease-in;
}

.botaoconfiguracoes:hover{
    background-color: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}
.menuusuario{
    display: none;
    flex-direction: column;
    height: 95vh;
    overflow: hidden;
    width: 300px;
    padding: 1%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--corinput);
    align-items: center;
    gap: 3%;
    border: 1px solid var(--bordainput);
    transition: 0.3s ease-in;
    justify-content: space-between;
}

.menuusuario.abrir{
    display: flex;
}

.menuusuarioparte1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.areasair{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: center;
}

.areasairform{
    display: flex;
    flex-direction: row;
    width: 5%;
    justify-content: center;
}

.secoes{
    display: flex;
    flex-direction: row;
}
.secao1{
    display: flex;
    flex-direction: row;
    padding-block: 1%;
    justify-content: center;
}

.secao1status{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.secao1status1, .secao1status2, .secao1status3{
    display: flex;
    flex-direction: column;
    padding-block: 3%;
    padding-inline: 2%;
    width: 16.75%;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid;
}

.secao1status4{
    display: flex;
    flex-direction: column;
    padding-block: 3%;
    padding-inline: 2%;
    width: 16.75%;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    border-radius: 12px;
    border: 1px solid;
}

.secao1status1{
    background: var(--corstatus1);
    color: #000000;
    border-color: var(--bordastatus1);
}

.secao1status2{
    background: var(--corstatus2);
    color: rgb(0, 0, 0);
    border-color: var(--bordastatus2);
}

.secao1status3{
    background: var(--corstatus3);
    color: rgb(0, 0, 0);
    border-color: var(--bordastatus3);
}

.secao1status4{
    background: var(--corstatus4);
    color: #ffffff;
    font-weight: bold;
    border-color: var(--bordastatus4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.secao1status4:hover{
    background-color: var(--corstatus4hover);
    border: 1px solid var(--bordastatus4hover);
}

.secao2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 1%;
    width: 95%;
    margin: 0 auto;
}
.secao2esq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    border: 1px solid var(--bordainput);
    background: var(--corinput);
    border-radius: 10px;
    width: 45%;
}

.secao2esqheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.secao2esqheaderareabotoes{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.secao2esqheaderbotaochaves{
    background: var(--corbotao);
    width: 50%;
    padding-block:2%;
    text-align: center;
    color: white;
    font-weight: regular;
    font-size: 11pt;
    border-radius: 7px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.secao2esqheaderbotaochaves:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.botaocadastrarusuario{
    background: var(--corbotao2);
    width: 75%;
    padding-block:2%;
    text-align: center;
    color: white;
    font-weight: regular;
    font-size: 11pt;
    border-radius: 7px;
    border: 1px solid var(--bordabotao2);
    align-self:center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.botaocadastrarusuario:hover{
    background: var(--corbotao2hover);
    border: 1px solid var(--bordabotao2hover);
}

.botaoverusuarios{
    background: var(--corbotao3);
    width: 75%;
    padding-block:2%;
    text-align: center;
    color: white;
    font-weight: regular;
    font-size: 11pt;
    border-radius: 7px;
    border: 1px solid var(--bordabotao3);
    align-self:center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.botaoverusuarios:hover{
    background: var(--corbotao3hover);
    border: 1px solid var(--bordabotao3hover);
}

.secao2esqitens{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    height: 44vh;
}
.secao2esqitenstexto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.secao2dir{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1%;
    border: 1px solid var(--bordainput);
    background: var(--corinput);
    border-radius: 10px;
    width: 45%;
}

.secao2dirobjarea{
    display:flex;
    flex-direction: column;
    height:44vh;
    justify-content: space-around;
    overflow-y: auto;
}


.secao2dirobj{
    display:flex;
    flex-direction: column;
    padding:2%;
    border: 1px solid var(--bordafundo);
    border-radius: 10px;
    background: var(--fundo);
    font-size: 9pt;
    font-weight: regular;
    margin-bottom: 1%;
}

.secao2dirobjheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.secao2dirobjheaderdevol{
    background: var(--corbotao);
    padding-block:1%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid var(--bordabotao);
    align-self:center;
    width: 100%;
    margin-block: 1%;
}

.secao2dirobjtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao2esqbotoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}
.secao2esqobj{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1%;
    border: 1px solid var(--bordafundo);
    border-radius: 10px;
    background: var(--fundo);
    font-size: 9pt;
    font-weight: regular;
    margin-bottom: 1%;
}

.secao2esqeditar{
    background: var(--corbotaoedit);
    width: 50px;
    height: 50px;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 1px solid var(--bordabotaoedit);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.secao2esqeditar:hover{
    background: var(--corbotaohoveredit);
    border: 1px solid var(--bordabotaohoveredit);
}

.secao2esqapagar{
    background: var(--corbotaoapagar);
    width: 50px;
    height: 50px;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 1px solid var(--bordabotaoapagar);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.secao2esqapagar:hover{
    background: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.secao2esqsituacao{
    background: var(--corstatusdisp);
    width: 50%;
    padding-block:1%;
    color: white;
    font-weight: regular;
    border-radius: 5px;
    border: 1px solid var(--bordastatusdisp);
    text-align: center;
}

.addchave{
    display: none;
    flex-direction: column;
    padding: 1%;
    width: 45%;
    border-radius: 10px;
    border: 1px solid var(--bordainput);
    background: var(--corinput);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.addchaveform{
    display: flex;
    flex-direction: column;
}

.addchaveformheader{
    font-weight: bold;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addchaveforminputs{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    margin-bottom: 2%;
}

.addchaveformbotaoarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addchaveformbotao{
    background: var(--corbotao);
    width: 50%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.addchaveformbotao:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.addchaveformobj{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.addchave.abrir{
    display: flex;
}
/* ver usuários*/

.tabelausuarios{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    width: 45%;
    border-radius: 10px;
    border: 1px solid var(--bordafundo);
    background: var(--fundo);
    z-index: 999;
}

.tabelausuariostituloheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 12px;
    align-items: center;
}

.tabelausuarioareaitens{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--bordainput);
}

.tabelausuarioacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabelaeditar{
    background: var(--corbotaoedit);
    width: 40px;
    height: 40px;
    color: white;
    font-weight: regular;
    border-radius: 7px;
    border: 1px solid var(--bordabotaoedit);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.tabelaeditar:hover{
    background: var(--corbotaohoveredit);
    border: 1px solid var(--bordabotaohoveredit);
}

.tabelaapagar{
    background: var(--corbotaoapagar);
    width: 40px;
    height: 40px;
    color: white;
    font-weight: regular;
    border-radius: 7px;
    border: 1px solid var(--bordabotaoapagar);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.tabelaapagar:hover{
    background: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.tabelausuariosdesc{
    background-color: var(--corinput);
    text-align: left;
}

.tabelausuariosheader{
    background-color: var(--bordainput);
}

.fechar:hover{
    background-color: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.tabelausuarios.abrir{
    display: flex;
}

.confirmacaoapagarchave{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    border-radius: 10px;
    border: 1px solid var(--bordafundo);
    background: var(--fundo);
    z-index: 999;
    width: 25%;
}

.confirmacaoapagarchavetitulo{
    font-size: 16pt;
    padding: 4%;
    text-align: center;
}

.confirmacaoapagarchaveareabotoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botaosim{
    padding: 2%;
    color: white;
    background-color: var(--corbotao);
    border: 1px solid var(--bordabotao);
    width: 30%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-radius: 7px;
}

.botaosim:hover{
    background: var(--corbotaohoveredit);
    border: 1px solid var(--bordabotaohoveredit);
}

.botaonao{
    padding: 2%;
    color: white;
    background-color: var(--corbotaoapagar);
    border: 1px solid var(--bordabotaoapagar);
    width: 30%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-radius: 7px;
}

.botaonao:hover{
    background: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.confirmacaoapagarchave.abrir{
    display: flex;
}

.editarchave{
    display: none;
    flex-direction: column;
    padding: 1%;
    width: 45%;
    border-radius: 10px;
    border: 1px solid var(--bordainput);
    background: var(--corinput);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.editarchaveform{
    display: flex;
    flex-direction: column;
}

.editarchaveformheader{
    font-weight: bold;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fechar{
    display: flex;
    align-items: center;
    padding: 2%;
    width: 100%;
    border-radius: 7px;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    height: auto;
    background-color: var(--corbotaoapagar);
    border: 1px solid var(--bordabotaoapagar);
    transition: all 0.1s ease-in;
}

.fechar:hover{
    background-color: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}


.editarchaveforminputs{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    margin-bottom: 2%;
}

.editarchaveformbotaoarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editarchaveformbotao{
    background: var(--corbotao);
    width: 50%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.editarchaveformbotao:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.editarchaveformobj{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.editarchave.abrir{
    display: flex;
}

.editaruser{
    display: none;
    flex-direction: column;
    padding: 1%;
    width: 45%;
    border-radius: 10px;
    border: 1px solid var(--bordainput);
    background: var(--corinput);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.editaruserform{
    display: flex;
    flex-direction: column;
}

.editaruserformheader{
    font-weight: bold;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editaruserforminputs{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    height: 40vh;
    justify-content: space-between;
}

.editaruserformbotaoarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editaruserformbotao{
    background: var(--corbotao);
    width: 50%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.editaruserformbotao:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.editaruserformobj{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.editaruser.abrir{
    display: flex;
}

.confirmacaoapagaruser{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    border-radius: 10px;
    border: 1px solid var(--bordafundo);
    background: var(--fundo);
    z-index: 999;
    width: 25%;
}

.confirmacaoapagarusertitulo{
    font-size: 16pt;
    padding: 4%;
    text-align: center;
}

.confirmacaoapagaruserareabotoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botaosim{
    padding: 2%;
    color: white;
    background-color: var(--corbotao);
    border: 1px solid var(--bordabotao);
    width: 30%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-radius: 7px;
}

.botaosim:hover{
    background: var(--corbotaohoveredit);
    border: 1px solid var(--bordabotaohoveredit);
}

.botaonao{
    padding: 2%;
    color: white;
    background-color: var(--corbotaoapagar);
    border: 1px solid var(--bordabotaoapagar);
    width: 30%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-radius: 7px;
}

.botaonao:hover{
    background: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.confirmacaoapagaruser.abrir{
    display: flex;
}


.botaosair{
    text-decoration: none;
    color: white;
    background-color: var(--corbotaoapagar);
    padding-block: 2%;
    width: 50%;
    text-align: center;
    border-radius: 7px;
    border: 1px solid var(--bordabotaoapagar);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.botaosair:hover{
    background: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.menuusuario.abrir{
    display: flex;
}

.formulariocadastrouser{
    display: none;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background: var(--corinput);
    border-radius: 10px;
    border: 1px solid var(--bordainput);
    width: 45%;
    text-align: center;
    margin-top: 3%;
}

.areacadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    margin-bottom: 2%;
}

.formularioheader{
    font-weight: bold;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulariotextosenha{
    font-size: 12px;
}

.botaocadastrar{
    background: var(--corbotao);
    width: 50%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.botaocadastrar:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.formulariocadastrouser.abrir{
    display: flex;
}