@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --corbotao: #0052A1;
    --corbotaohover: #43a0de;
    --bordabotao: #000f5a;
    --bordabotaohover: #3042b1;
    --corbotao2: var(--corstatusdisp);
    --bordabotao2: var(--bordastatusindisp);
    --corbotao2hover: #54e68c;
    --bordabotao2hover: #09ae61;
    --corbotao3: #F7941D;
    --bordabotao3: #d05e07;
    --corbotao3hover: #f9bd45;
    --bordabotao3hover: #d88407;

    --fundo1: #efefef;
    --bordafundo1: #7c7c7c;

    --fundo2: white;
    --bordafundo2: var(--bordafundo1);

    --corbotaoapagar: #e52b3b;
    --bordabotaoapagar: #960909;
    --corbotaohoverapagar: #fd6565;
    --bordabotaohoverapagar: #b31827;

    --corstatus1: var(--corbotaohover);
    --bordastatus1: var(--bordabotaohover);
    --corstatus2: var(--corbotao2hover);
    --bordastatus2: var(--bordabotao2hover);
    --corstatus3: var(--corbotao3hover);
    --bordastatus3: var(--bordabotao3hover);
    --corstatus4: var(--corbotaohoverapagar);
    --bordastatus4: var(--bordabotaohoverapagar);

    --corstatus4hover: #ff9090;
    --bordastatus4hover: #ce2e2e;
}

*{
    margin: 0;
    outline: 0px solid red;
    font-family: 'Sanchez';
}

textarea{
    resize: none;
    padding:1%;
    border: 1px solid var(--bordafundo2);
    border-radius: 10px;
    background: var(--fundo2);
    font-size: 12pt;
    font-weight: 600;
}

body{
    background: var(--fundo);
}

input{
    padding:2%;
    border: 1px solid var(--bordafundo2);
    border-radius: 10px;
    background: var(--fundo2);
    font-size: 12pt;
    font-weight: 600;
}

select{
    padding:2%;
    border: 1px solid var(--bordafundo2);
    border-radius: 10px;
    background: var(--fundo2);
    font-size: 12pt;
    font-weight: 600;
    color: #000000b4;
}

h1, h2, h3, h4, h5, h6{
    text-decoration: none;
}

a{
    text-decoration: none;
}

input:focus{
    box-shadow: var(--corbotao) 0px 0px 2px 2px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 3%;
    padding-block: 1%;
    border-bottom: 2px solid var(--corbotao);
    background-color: var(--fundo2);
}

.headeresq{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    width: 50%;
}

.headeresqtexto{
    font-size: 20px;
    font-weight: bold;
}

.headeresqimg{
    width: 8%;
    height: auto;
}

.headerdir{
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.headerdirtexto{
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    font-size: 14px;
}

.headerdirtextonome{
    font-weight: 300;
}

.botaoconfiguracoes{
    display: flex;
    align-items: center;
    padding: 1%;
    width: 4%;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--corbotao);
    border: 1px solid var(--bordabotao);
    transition: all 0.1s ease-in;
}

.botaoconfiguracoes:hover{
    background-color: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.menuusuario{
    display: flex;
    flex-direction: column;
    height: 95vh;
    overflow: hidden;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    padding: 1%;
    background-color: var(--fundo1);
    align-items: center;
    gap: 3%;
    border: 1px solid var(--bordafundo1);
    transition: 0.3s ease-in;
    justify-content: space-between;
}

.menuusuarioparte1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.areasair{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: center;
}

.areasairform, .areabotaoform{
    display: flex;
    flex-direction: row;
    width: 5%;
    justify-content: center;
}


.secao1{
    display: flex;
    flex-direction: row;
    padding-block: 1%;
    justify-content: center;
}

.secao1status{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.secao1status1, .secao1status2, .secao1status3{
    display: flex;
    flex-direction: column;
    padding-block: 3%;
    padding-inline: 2%;
    width: 16.75%;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid;
}

.secao1status4{
    display: flex;
    flex-direction: column;
    padding-block: 3%;
    padding-inline: 2%;
    width: 16.75%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    border-radius: 12px;
    background: var(--corstatus4);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid var(--bordastatus4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.secao1status1{
    background: var(--corstatus1);
    color: black;
    border-color: var(--bordastatus1);
}

.secao1status2{
    background: var(--corstatus2);
    color: black;
    border-color: var(--bordastatus2);
}

.secao1status3{
    background: var(--corstatus3);
    color: black;
    border-color: var(--bordastatus3);
}

.secao1status4:hover{
    background-color: var(--corstatus4hover);
    border: 1px solid var(--bordastatus4hover);
}

.secao2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 1%;
    width: 95%;
    margin: 0 auto;
}
.secao2esq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    border: 1px solid var(--bordafundo1);
    background: var(--fundo1);
    border-radius: 10px;
    width: 45%;
}

.secao2esqheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

.secao2esqitens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secao2esqinputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 38vh;
}

.secao2esqinput{
    margin-bottom: 1%;
}

.secao2esqbotao{
    background: var(--corbotao);
    width: 100%;
    padding:1%;
    text-align: center;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.secao2esqbotao:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.secao2dir{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1%;
    border: 1px solid var(--bordafundo1);
    background: var(--fundo1);
    border-radius: 10px;
    width: 45%;
}

.secao2dirobjarea{
    display:flex;
    flex-direction: column;
    height:44vh;
    justify-content: flex-start;
    overflow-y: auto;
}

.secao2dirobj{
    display:flex;
    flex-direction: column;
    padding:3%;
    border: 1px solid var(--bordafundo2);
    border-radius: 10px;
    background: var(--fundo2);
    font-size: 9pt;
    font-weight: regular;
    margin-bottom: 1%;
}

.secao2dirobjheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.secao2dirobjheaderdevol{
    background: var(--corbotao);
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid var(--bordabotao);
    align-self:center;
    width: 100%;
    transition: all 0.1s ease-in-out;
    padding-block: 1%;
    cursor: pointer;
}

.secao2dirobjheaderdevol:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.secao2dirobjtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botaosair{
    text-decoration: none;
    color: white;
    background-color: var(--corbotaoapagar);
    padding: 2%;
    width: 40%;
    text-align: center;
    border-radius: 7px;
    font-weight: 600;
    border: 1px solid var(--bordabotaoapagar);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.botaosair:hover{
    background: var(--corbotaohoverapagar);
    border: 1px solid var(--bordabotaohoverapagar);
}

.botaofechar{
    text-decoration: none;
    color: white;
    background-color: var(--corbotao);
    padding: 2%;
    width: 40%;
    text-align: center;
    border-radius: 7px;
    border: 1px solid var(--bordabotao);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.botaofechar:hover{
    background-color: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.fechar{
    display: flex;
    align-items: center;
    padding: 2%;
    width: 100%;
    border-radius: 7px;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    height: auto;
    background-color: var(--corbotaoapagar);
    border: 1px solid var(--bordabotaoapagar);
    transition: all 0.1s ease-in;
}

.relatorioprincipalareamenu, .relatoriohistoricoareamenu, .menuusuarioarea{
    display: none;
    flex-direction: row;
    background-color: #00000052;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    backdrop-filter: blur(7px);
    align-items: center;
}

.relatorioprincipalmenu{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 75%;
    border-radius: 10px;
    border: 1px solid var(--bordafundo1);
    background: var(--fundo1);
}

.relatorioprincipalform{
    display: flex;
    flex-direction: column;
}

.relatorioprincipalformheader, .relatoriohistoricoheader{
    font-weight: bold;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.relatorioprincipalforminputs{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
}

.relatorioprincipalformbotaoarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.relatorioprincipalformbotao{
    background: var(--corbotao);
    width: 50%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.relatorioprincipalformbotao:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.relatorioprincipalformobj{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 47.5%;
}

.relatorioprincipalformparte2header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3%;
}

.botaohistoricorelatorio{
    display: flex;
    align-items: center;
    padding: 2%;
    width: 100%;
    border-radius: 7px;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    height: auto;
    background-color: var(--corbotao);
    border: 1px solid var(--bordabotao);
    transition: all 0.1s ease-in;
    color: white;
}

.botaohistoricorelatorio:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.relatoriohistoricomenu{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 70%;
    border-radius: 10px;
    border: 1px solid var(--bordafundo1);
    background: var(--fundo1);
}

.relatoriohistoricoheaderparte2{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: flex-end;
}

.relatoriohistoricoheaderbotaovoltar{
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 20%;
    color: var(--fundo2);
    font-weight: 600;
    background-color: var(--corstatus4);
    border-radius: 7px;
    align-items: center;
    border: 1px solid var(--bordastatus4);
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.relatoriohistoricoheaderbotaovoltar:hover{
    background-color: var(--corstatus4hover);
    border: 1px solid var(--bordastatus4hover);
}

.relatoriohistoricosecoes{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
}

.relatoriohistoricosecaoesq{
    display: flex;
    flex-direction: column;
    background: var(--fundo2);
    padding-block: 1%;
    padding-inline: 2%;
    gap: 2%;
    width: 45%;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid var(--bordafundo2);
}

.relatoriohistoricosecaoesqbotaodata{
    background: var(--corbotao);
    width: 100%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--bordabotao);
    align-self:flex-end;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.relatoriohistoricosecaoesqbotaodata:hover{
    background: var(--corbotaohover);
    border: 1px solid var(--bordabotaohover);
}

.relatoriohistoricosecaodir{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    padding-block: 1%;
    padding-inline: 3%;
    
}

.relatoriohistoricosecaodirheader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.relatoriohistoricosecaodirsecoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-block: 1%;
    overflow-y: auto;
}

.relatoriohistoricosecaodiresq, .relatoriohistoricosecaodirdir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49.25%;
    overflow-y: auto;
}

.relatoriohistoricosecoestitulo{
    font-size: 17px;
    margin-bottom: 2%;
}

.relatoriohistoricogeral, .relatoriohistoricoespecifico{
    display: flex;
    background-color: var(--fundo2);
    height: 300px;
    border-radius: 10px;
    border: 1px solid var(--bordafundo2);
}

.menuusuarioarea{
    justify-content: flex-end;
}

.relatorioprincipalareamenu, .relatoriohistoricoareamenu{
    justify-content: center;
}

.relatorioprincipalareamenu.abrir, .relatoriohistoricoareamenu.abrir, .menuusuarioarea.abrir{
    display: flex;
}